@use '../../../styles/breakpoints' as *;
@use '../../../styles/mixins' as mix;

.main {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;

  &__menuButton {
    @include mix.flex-center;
    position: absolute;
    top: 5px;
    left: 15px;
    padding: 10px;
    background-color: var(--bg-color);
    border-radius: 5px;
    transition: background 0.2s;
    z-index: 3;
    cursor: pointer;

    @include respond('md') {
      display: none;
    }

    &:hover {
      background-color: var(--btn-hover-light-gray);
    }

    &.active {
      display: none;
    }

    & mat-icon {
      @include mix.flex-center;
      @include mix.icon-size(24px);
    }
  }
  &__container {
    position: relative;
    padding: 40px 20px;
    width: 100%;
    height: 100vh;

    @include respond('md') {
      padding: 20px 20px;
    }
  }
}
