@use '../../../styles/breakpoints' as *;

.main {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;

  &__menuButton {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 5px;
    left: 15px;
    padding: 10px;
    background-color: var(--bg-color);
    border-radius: 5px;
    transition: background 0.2s;
    z-index: 3;
    cursor: pointer;

    @include respond('md') {
      display: none;
    }

    &:hover {
      background-color: var(--btn-hover-light-gray);
    }

    &.active {
      display: none;
    }

    & mat-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
    }
  }
}

.container {
  display: flex;
  height: 100vh;
  width: 100%;
  padding: 60px 20px;
  position: relative;

  @include respond('md') {
    padding: 40px;
  }
}
