@use '../../../styles/breakpoints' as *;
@use '../../../styles/mixins' as mix;

.main {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;

  &__menuButton {
    @include mix.flex-center;
    position: absolute;
    top: 5px;
    left: 15px;
    z-index: 15;
    cursor: pointer;
    background-color: var(--bg-color);

    @include respond('md') {
      display: none;
    }

    &.active {
      display: none;
    }

    & mat-icon {
      @include mix.flex-center;
      @include mix.icon-size(24px);
    }
  }
  &__container {
    position: relative;
    padding: 60px 20px;
    width: 100%;
    overflow-y: auto;

    @include respond('md') {
      padding: 20px 20px;
    }
  }
}
