<div class="main">
  <div
    [class]="isSidebarOpen ? 'main__menuButton active' : 'main__menuButton'"
    (click)="toggleSidebar(true)"
  >
    <stk-button [model]="3" class="button">
      <mat-icon>menu</mat-icon>
    </stk-button>
  </div>
  <stk-sidebar [active]="isSidebarOpen" (opened)="toggleSidebar($event)" />
  <main #mainContainer class="main__container">
    <stk-message-notification
      [isOpen]="responseMessageService.isOpen()"
      [message]="responseMessageService.message()"
      [status]="responseMessageService.status()"
    />

    <router-outlet></router-outlet>
  </main>
</div>
