@use '../../../../styles/breakpoints' as *;
@use '../../../../styles/mixins' as mix;

.item {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  border-top: 1px solid var(--border-color);

  &__info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 14px;
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__visualizar {
      @include mix.flex-center;
      line-height: 0;
    }
  }

  &.first-item {
    border-top: none;
  }

  &__info p {
    @include respond('md') {
      font-size: 16px;
    }
  }
}
