<div class="item" [class.first-item]="firstItem">
  <div class="item__info">
    <p>
      {{ capitalize(nameInfo.type) }}: <strong>{{ capitalize(nameInfo.name) }}</strong>
    </p>
    <p>Número da compra: <strong>123</strong></p>
    <p>
      Data da operação: <strong>{{ formatDate(date) }}</strong>
    </p>
  </div>
  <div class="item__details">
    <h3>R${{ formatValue(value) }}</h3>
    <stk-button [model]="3" (click)="navigateTo()">
      <span class="item__details__visualizar">
        <p>Visualizar</p>
        <mat-icon>keyboard_arrow_right</mat-icon>
      </span>
    </stk-button>
  </div>
</div>
