@use '../../../../styles/breakpoints' as *;

.backdrop {
  position: fixed;
  height: 100%;
  width: 100vw;
  top: 0;
  background-color: rgba($color: #000000, $alpha: 0.5);
  left: 100vw;

  &.active {
    left: 0;
  }

  @include respond('md') {
    display: none;
  }
}

a {
  text-decoration: none;
}

.nav {
  height: 100vh;
  position: fixed;
  z-index: 2;
  left: -100%;
  background-color: var(--sidebar-bg);
  color: var(--sidebar-text);
  transition: all 0.3s;
  display: flex;
  flex-direction: column;

  &.active {
    left: 0;
  }

  @include respond('md') {
    left: 0;
    position: relative;
    width: 64px;
  }

  &.active {
    @include respond('md') {
      position: relative;
      width: 275px;
    }
  }
}

.menuContainer {
  width: 100%;
  flex: 1;

  &__header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    & h1 {
      font-size: 20px;
      text-transform: uppercase;
    }

    & mat-icon {
      cursor: pointer;
    }
  }

  &__ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: 300;

    &__li {
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 10px 20px;
      cursor: pointer;
      transition: all 0.2s;
      color: var(--sidebar-text);

      & a {
        flex: 1;
      }

      &:hover,
      &.active {
        background-color: var(--sidebar-hover);
      }

      &__icon {
        color: var(--primary-color-m);
      }

      &__arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        transform: rotate(270deg);
        transition: all 0.2s;
      }

      &.active .menuContainer__ul__li__arrow {
        transform: rotate(90deg);
        color: var(--primary-color-m);
      }
    }

    &__sub {
      list-style: none;
      padding: 0;
      margin: 0;
      padding-left: 2rem;

      &__li {
        position: relative;

        &::before {
          content: '';
          height: 100%;
          width: 4px;
          background-color: var(--sidebar-hover);
          border-radius: 5px;
          position: absolute;
          top: 0;
          left: 0;
        }

        &.active::before {
          background-color: var(--primary-color-m);
        }

        & a {
          cursor: pointer;
          display: flex;
          padding: 1rem;
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  &__header {
    & h1 {
      @include respond('md') {
        display: none;
      }
    }

    @include respond('md') {
      justify-content: center;
    }
  }

  &.active .menuContainer__header {
    @include respond('md') {
      justify-content: space-between;
    }
  }

  &__ul__li {
    @include respond('md') {
      justify-content: center;
    }

    & a {
      @include respond('md') {
        display: none;
      }
    }

    &__arrow {
      @include respond('md') {
        display: none;
      }
    }
  }

  &.active .menuContainer__ul__li {
    & a {
      @include respond('md') {
        display: block;
      }
    }

    &__arrow {
      @include respond('md') {
        display: flex;
      }
    }
  }

  &.active .menuContainer__header h1 {
    @include respond('md') {
      display: inline;
    }
  }

  &__ul__sub {
    @include respond('md') {
      display: none;
    }
  }

  &.active .menuContainer__ul__sub {
    @include respond('md') {
      display: block;
    }
  }
}

.logoutContainer {
  width: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;

  &__link {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    gap: 10px;
    cursor: pointer;

    & p {
      flex: 1;
    }

    &:hover {
      background-color: var(--sidebar-hover);
    }

    & mat-icon {
      color: var(--sidebar-text);
    }

    &.active mat-icon {
      color: var(--primary-color-m);
    }
  }

  &__icon {
    padding: 5px;
    border-radius: 5px;
    line-height: 0;
    cursor: pointer;

    &:hover {
      background-color: var(--sidebar-hover);
    }
  }

  &.active .logoutContainer__link p {
    display: block;
  }

  &.active .logoutContainer__link__arrow {
    display: block;
  }

  &__link p {
    @include respond('md') {
      display: none;
    }
  }

  &__link__arrow {
    @include respond('md') {
      display: none;
    }
  }
}
