.backdrop {
  position: fixed;
  height: 100%;
  width: 100vw;
  top: 0;
  background-color: rgba($color: #000000, $alpha: 0.5);
  left: 100vw;

  &.active {
    left: 0;
  }
}

a {
  text-decoration: none;
}

.nav {
  height: 100%;
  width: 80vw;
  position: fixed;
  z-index: 2;
  left: -80vw;
  background-color: var(--sidebar-bg);
  color: var(--sidebar-text);
  transition: all 0.3s;

  &.active {
    left: 0;
  }
}

.menuContainer {
  width: 100%;

  &__header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    & h1 {
      font-size: 20px;
      text-transform: uppercase;
    }

    & span {
      line-height: 0;
      padding: 5px;
      border-radius: 5px;
    }
  }

  &__ul {
    list-style: none;
    padding: 0;
    margin: 0;

    &__li {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px;
      border-bottom-right-radius: 20px;
      border-top-right-radius: 20px;
      cursor: pointer;
      transition: all 0.2s;
      color: var(--sidebar-text);

      & a {
        flex: 1;
      }

      &:hover,
      &.active {
        background-color: var(--sidebar-hover);
      }

      &__icon {
        color: var(--primary-color-m);
      }

      &__arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        transform: rotate(90deg);
        transition: all 0.2s;

        &.active {
          transform: rotate(270deg);
          color: var(--primary-color-m);
        }
      }
    }

    &__sub {
      list-style: none;
      padding: 0;
      margin: 0;
      padding-left: 2rem;
      animation: fadeIn 0.3s ease;

      &__li {
        position: relative;

        &::before {
          content: '';
          height: 100%;
          width: 2px;
          background-color: var(--sidebar-hover);
          position: absolute;
          top: 0;
          left: 0;
        }

        &.active::before {
          background-color: var(--primary-color-m);
        }

        & a {
          cursor: pointer;
          display: flex;
          padding: 1rem;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-height: 500px;
  }
}
