@use '../../../../../../styles/mixins' as mix;

:host {
  @include mix.main-host;
}

.header {
  width: 100%;
  padding: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;

  &__header {
    text-align: center !important;
  }

  thead {
    text-transform: uppercase;
    font-size: 0.8rem;
  }

  th,
  td {
    padding: 8px;
    text-align: left;
  }

  th,
  tr:not(:last-child) {
    border-bottom: 1px solid var(--border-color);
  }

  tbody > tr:hover {
    background-color: var(--hover-color);
  }

  &__data {
    text-align: center !important;

    &__date {
      font-weight: 500;
      font-size: 1rem;
    }

    &__hour {
      color: var(--text-color-l);
      font-size: 0.8rem;
    }

    &__movement {
      font-weight: bold;
      font-size: 1rem;

      &.positive {
        color: var(--badge-green-text);
      }

      &.negative {
        color: var(--badge-red-text);
      }
    }

    &__balance {
      font-weight: bold;
      font-size: 1rem;
    }
  }
}
