@use '../../../../styles/breakpoints' as *;
@use '../../../../styles/mixins' as mix;

.stepper {
  --connector-width: 2rem;
  --connector-width-md: 4rem;
  --gap: 3rem;
  --gap-md: 8rem;

  @include mix.flex-center;
  width: 100%;
  gap: var(--gap, 3rem);
  flex-wrap: wrap;
  padding: 20px 0;

  @include respond('md') {
    gap: var(--gap-md, 8rem);
  }
  &__step {
    @include mix.flex-center;
    position: relative;

    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    background-color: var(--btn-hover-gray);

    mat-icon {
      color: white;
      height: 1.4rem;
      width: 1.4rem;
      font-size: 1.4rem;
    }

    p {
      color: white;
      font-size: 1rem;
    }

    &.current::before {
      content: '';
      position: absolute;
      inset: 0;
      transform: scale(1.3);
      border-radius: 50%;
      border: 1px solid var(--btn-hover-gray);
      background: transparent;
      z-index: 0;
    }

    &.completed {
      background-color: oklch(69.6% 0.17 162.48);
    }
    &:not(:last-child)::after {
      content: '';
      position: absolute;
      top: 50%;
      left: calc(100% + (var(--gap) - var(--connector-width)) / 2);
      transform: translateY(-50%);
      width: var(--connector-width);
      height: 2px;
      background-color: var(--btn-hover-gray);
      z-index: 1;
    }

    &.completed:not(:last-child)::after {
      background-color: oklch(69.6% 0.17 162.48);
    }
  }

  &__step {
    @include respond('md') {
      width: 1.8rem;
      height: 1.8rem;
    }

    &:not(:last-child)::after {
      @include respond('md') {
        width: var(--connector-width-md);
        left: calc(100% + (var(--gap-md) - var(--connector-width-md)) / 2);
      }
    }
  }
}
