@use '../../../../styles/breakpoints' as *;
@use '../../../../styles/mixins' as mix;

:host {
  @include mix.flex-center;
}

.btn {
  @include mix.btn;

  &:disabled {
    @include mix.btn-disabled;
  }

  &.green:not(:disabled) {
    @include mix.btn-color('green');
  }

  &.black:not(:disabled) {
    @include mix.btn-color('gray');
  }

  &.red:not(:disabled) {
    @include mix.btn-color('red');
  }

  &.transparent {
    @include mix.btn-color('transparent');
  }

  &.small {
    @include mix.btn-size('sm');
  }

  &.medium {
    @include mix.btn-size('md');
  }

  &.large {
    @include mix.btn-size('lg');
  }

  @include respond('md') {
    max-width: 300px;
  }

  &.icon-btn {
    @include mix.btn-size('icon-btn');
  }
}
