@use '../../../../styles/breakpoints' as *;

:host {
  display: flex;
  justify-content: center;
}

.btn {
  width: 100%;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 500;
  background-color: var(--btn-bg);
  color: var(--btn-text);
  transition: background 0.1s;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 10px;

  &:hover:not(:disabled) {
    background-color: var(--btn-hover);
  }

  &:active:not(:disabled) {
    transform: translateY(0);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  }

  &:disabled {
    background-color: var(--btn-disabled);
    color: var(--btn-text);
    cursor: not-allowed;
    transform: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  @include respond('md') {
    max-width: 300px;
  }
}

.loading-spinner {
  animation: rotate 2s linear infinite;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.loading-spinner .path {
  stroke: #fff; /* Cor do spinner (pode ser ajustado) */
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
