<button
  [type]="type"
  class="btn"
  [disabled]="disabled"
  [class.green]="model === 0"
  [class.black]="model === 1"
  [class.red]="model === 2"
  [class.transparent]="model === 3"
  [class.small]="size === 0"
  [class.medium]="size === 1"
  [class.large]="size === 2"
  [class.icon-btn]="size === 3"
>
  <span class="btn__loading" [class.active]="loading">
    <svg class="btn__loading-spinner" viewBox="0 0 50 50">
      <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
    </svg>
  </span>
  <span class="btn__content" [class.active]="loading">
    <ng-content></ng-content>
  </span>
</button>
