:host {
  width: 100%;
  height: 100%;
}

.card {
  border-radius: 10px;
  background-color: var(--card-bg);
  width: 100%;
  max-width: 700px;

  &.padding-sm {
    padding: 10px;
  }
  &.padding-md {
    padding: 20px;
  }
  &.padding-lg {
    padding: 40px;
  }
}
