@use '../../../../styles/mixins' as mix;

:host {
  @include mix.main-host;
}

.card {
  border-radius: 10px;
  border: 1px solid var(--border-color);
  background-color: var(--card-bg);
  width: 100%;
  max-width: 700px;
  overflow: hidden;

  &.padding-sm {
    padding: 10px;
  }
  &.padding-md {
    padding: 20px;
  }
  &.padding-lg {
    padding: 40px;
  }
}
