@use '../../../../../styles/mixins' as mix;
@use '../../../../../styles/breakpoints' as *;

:host {
  @include mix.main-host;
}

stk-message-notification {
  position: absolute;
  top: 0;
  left: 50%;
}

.main {
  @include mix.main-layout;

  & h1 {
    max-width: 700px;
    width: 100%;
  }
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: relative;

  &__title {
    & h2 {
      font-size: 24px;
      font-weight: 600;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__separator {
    width: 100%;
    height: 1px;
    background-color: var(--border-color);
  }

  &__itens {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    &__info {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}
