<div class="container" (keyup.enter)="onEnter()">
  <stk-back-button path="/suppliers" />
  <div class="container__title">
    <h2>Informações do fornecedor</h2>
  </div>
  <stk-text-input
    type="text"
    id="taxId"
    label="Digite o CNPJ *"
    [control]="form.get('taxId')"
    [errorMessages]="{
      required: 'CNPJ é obrigatório',
      cnpjInvalid: 'CNPJ inválido',
    }"
  />
  <stk-button
    [disabled]="form.get('taxId')?.invalid ?? true"
    (click)="next()"
    [type]="'button'"
    class="container__form__btn"
    >Próximo passo
  </stk-button>
</div>
