@use '../../../../styles/breakpoints' as *;

:host {
  display: block;
  width: 100%;
  height: 100%;
}

stk-message-notification {
  position: absolute;
  top: 0;
  left: 50%;
}

.main {
  padding: 60px 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  & h1 {
    max-width: 700px;
    width: 100%;
  }

  @include respond('md') {
    padding: 40px;
  }
}

.container {
  background-color: var(--card-bg);
  border-radius: 10px;
  max-width: 700px;
  width: 100%;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: relative;

  &__back {
    display: flex;
    align-items: center;
    justify-content: left;
  }

  &__title {
    & h2 {
      font-size: 24px;
      font-weight: 600;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;

    &__btn {
      margin-top: 5px;
      width: 100%;
    }
  }
}

.error-text {
  bottom: -18px;
  left: 0rem;
  font-size: 14px;
  padding-bottom: 10px;
  color: #f44336;
  font-weight: 500;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
