<div class="main">
  <div class="main__title">
    <h1>Adicionar Compra</h1>
  </div>
  <stk-stepper [currentStep]="currentStep" [totalSteps]="totalSteps" />
  <section>
    <stk-card [padding]="2">
      <form [formGroup]="purchaseForm" (ngSubmit)="onAddNewPurchase()">
        @if (currentStep === 1) {
          <stk-search-supplier-purchase-step
            (isLoadingChange)="isLoadingChange()"
            [isLoading]="isLoading"
            [form]="purchaseForm"
            (nextStep)="nextStep()"
          />
        }
        @if (currentStep === 2) {
          <stk-add-items-purchase-step
            [isLoading]="isLoading"
            [form]="purchaseItemForm"
            [formParent]="purchaseForm"
            (isLoadingChange)="isLoadingChange()"
            (back)="back()"
            (addItem)="addItem($event)"
            (removeItem)="removeItem($event)"
          />
        }
      </form>
    </stk-card>
  </section>
</div>
