<div class="login_page">
  <div class="login_page__container">
    <h1>stockmanagement</h1>
    <form class="login_page__container__form" [formGroup]="loginForm" (ngSubmit)="login()">
      @if (messageDisplayed.message.length > 0) {
        <stk-message-notification
          [status]="messageDisplayed.status"
          [message]="messageDisplayed.message"
        />
      }
      <div class="login_page__container__form__input-group">
        <input
          type="text"
          id="email"
          formControlName="email"
          placeholder=" "
          class="login_page__container__form__input-group__modern-input"
          [class.valid]="!loginForm.get('email')?.invalid"
          [class.invalid]="loginForm.get('email')?.invalid && loginForm.get('email')?.dirty"
        />
        <label class="login_page__container__form__input-group__floating-label">E-mail</label>
        @if (loginForm.get('email')?.invalid && loginForm.get('email')?.dirty) {
          <div class="error-text">Por favor, insira um e-mail válido</div>
        }
      </div>

      <div class="login_page__container__form__input-group">
        <input
          type="password"
          id="password"
          formControlName="password"
          placeholder=" "
          class="login_page__container__form__input-group__modern-input"
          [class.valid]="!loginForm.get('password')?.invalid"
          [class.invalid]="loginForm.get('password')?.invalid && loginForm.get('password')?.dirty"
        />
        <label class="login_page__container__form__input-group__floating-label">Senha</label>
        @if (loginForm.get('password')?.invalid && loginForm.get('password')?.dirty) {
          <div class="error-text">Senha inválida</div>
        }
      </div>

      <div class="login_page__container__form__div__submit">
        <stk-button [disabled]="loginForm.invalid && !isLoading" type="submit" [loading]="isLoading"
          >Entrar</stk-button
        >
        <a (click)="navigate('/register')">Criar nova conta</a>
      </div>
    </form>
  </div>
</div>
