:host {
  display: block;
  width: 100%;
  height: 100%;
}

.home {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 50px;

  &__total {
    display: flex;
    flex-direction: column;
    gap: 10px;

    & h2 {
      font-size: 14px;
      font-weight: 400;
    }

    & h1 {
      font-size: 24px;
      font-weight: 400;
    }
  }

  &__transactions {
    display: flex;
    gap: 50px;
    width: 100%;

    & h2 {
      font-size: 20px;
      font-weight: 500;
    }

    &__purchases {
      flex: 1;
    }

    &__sales {
      flex: 1;
    }
  }
}

.title {
  font-weight: 400;
}
