<div class="main">
  <div class="main__title">
    <h1>Fornecedores</h1>
  </div>
  <stk-stepper [currentStep]="currentStep" [totalSteps]="totalSteps" />
  <section>
    <stk-card [padding]="2">
      <stk-back-button path="/register/suppliers" />
      @if (currentStep === 1) {
        <stk-supplier-tax-id [form]="supplierForm" (nextStep)="nextStep()" />
      }
      @if (currentStep === 2) {
        <stk-supplier-general-information [form]="supplierForm" (back)="back()" />
      }
    </stk-card>
  </section>
</div>
