@use '../../../../../../styles/mixins' as mix;
@use '../../../../../../styles/breakpoints' as *;

:host {
  @include mix.main-host;
  width: 100%;
}

stk-message-notification {
  position: absolute;
  top: 0;
  left: 50%;
}

.main {
  @include mix.main-layout;
}
