<stk-update-form-layout
  title="Fornecedores"
  subtitle="Atualizar cadastro do fornecedor"
  backPath="/suppliers"
  [form]="updateForm"
  [isUpdating]="isUpdating"
  [isDeactivating]="isDeactivating"
  (submit)="onUpdateSupplier()"
  (deactivate)="deactivate()"
>
  <stk-text-input
    type="text"
    id="phone"
    label="Digite o telefone *"
    [control]="updateForm.get('phone')"
    [errorMessages]="{
      required: 'Celular é obrigatório',
    }"
  />
  <stk-text-input
    type="text"
    id="email"
    label="Digite o email *"
    [control]="updateForm.get('email')"
    [errorMessages]="{
      required: 'E-mail é obrigatório',
      email: 'E-mail inválido',
    }"
  />
</stk-update-form-layout>
