@use '../../../../styles/breakpoints' as *;

:host {
  display: block;
  width: 100%;
  height: 100%;
}

.main {
  padding: 60px 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  & h1 {
    max-width: 700px;
    width: 100%;
  }

  @include respond('md') {
    padding: 40px;
  }
}
