@use '../../../../styles/mixins' as mix;

.select {
  position: relative;

  &__selected {
    @include mix.flex-center;
    gap: 5px;
    padding: 6px;
    border-radius: 5px;
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    cursor: pointer;

    &.active > mat-icon {
      transform: rotate(180deg);
    }

    & mat-icon {
      transition: transform 0.2s;
    }

    & span {
      @include mix.flex-center;
      font-size: 14px;
    }
  }

  &__options {
    position: absolute;
    top: -170px;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    z-index: 10;
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    list-style: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: none;
    transition: transform 0.1s;

    & li {
      @include mix.flex-center;
      padding: 10px 20px;
      border-top: 1px solid var(--border-color);
      cursor: pointer;
      transition: background-color 0.1s;
      font-size: 14px;

      &:first-child {
        border-top: none;
      }

      &:hover {
        background-color: var(--hover-color);
      }
    }

    &.active {
      display: block;
    }
  }

  & select {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }
}
