<div
  #selectRef
  class="select"
  (blur)="onBlur()"
  [class.open-up]="openUp"
  tabindex="0"
  (keydown)="onKeydown($event)"
>
  <div class="select__selected" (click)="toggleOptions()" [class.active]="isOpen">
    <span>{{ selectedOption }}</span>
    <mat-icon>expand_more</mat-icon>
  </div>

  <ul class="select__options" [class.active]="isOpen">
    @for (option of options; track option) {
      <li [class.focused]="focusedIndex === $index" (click)="onSelect(option)">
        {{ option }}
      </li>
    }
  </ul>

  <select hidden>
    @for (option of options; track option) {
      <option value="{{ option }}">{{ option }}</option>
    }
  </select>
</div>
