@use '../../../../styles/mixins' as mix;

.pagination {
  display: flex;
  gap: 8px;

  &__button {
    @include mix.flex-center;

    padding: 6px;
    line-height: 0;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background: transparent;
    cursor: pointer;
    transition: background 0.1s;
    height: 38px;

    & span {
      @include mix.flex-center;
      color: var(--text-color);

      height: 24px;
      width: 24px;
      font-size: 14px;
    }

    &.active {
      background: var(--btn-bg-gray);
    }

    &.active span {
      color: var(--btn-text-gray);
    }

    &:disabled {
      cursor: default;
      opacity: 0.5;
      color: var(--text-dark);
    }

    &:hover:not(:disabled):not(.active) {
      background-color: var(--hover-color);
    }
  }

  &__arrow {
    @include mix.flex-center;
    border: 1px solid transparent;
    color: var(--text-color);
    border-radius: 5px;
    padding: 6px;
    line-height: 0;
    cursor: pointer;
    font-size: 14px;
    height: 38px;

    background: transparent;
    transition: background 0.1s;

    &:disabled {
      cursor: not-allowed;
    }

    &:hover:not(:disabled) {
      background-color: var(--hover-color);
    }

    &:hover {
      border-color: var(--hover-color);
    }
  }

  &__select {
    @include mix.flex-center;
    padding: 6px;
    border-radius: 5px;
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    cursor: pointer;

    & option {
      background-color: var(--bg-color);
      border-radius: 5px;

      &:hover {
        background-color: var(--hover-color);
      }
    }
  }
}
