@use '../variables';

body[data-theme='light'] {
  --bg-color: #{variables.$gray-2};
  --hover-color: #{variables.$gray-4};
  --text-color: #{variables.$gray-9};
  --text-color-l: #{variables.$gray-6};

  --focus-color-glow: #{variables.$focus-glow};

  --border-color: #{variables.$gray-4};

  --primary-color-l: #{variables.$green-3};
  --primary-color-m: #{variables.$green-4};
  --primary-color-d: #{variables.$green-5};

  --sidebar-bg: #{variables.$gray-9};
  --sidebar-hover: #{variables.$gray-7};
  --sidebar-text: #{variables.$gray-2};
  --sidebar-text-selected: #{variables.$white};

  --btn-bg: #{variables.$green-2};
  --btn-hover: #{variables.$green-3};
  --btn-text: #{variables.$gray-2};
  --btn-disabled: #{variables.$gray-6};

  --btn-bg-gray: #{variables.$gray-9};
  --btn-hover-gray: #{variables.$gray-7};
  --btn-text-gray: #{variables.$gray-2};

  --btn-bg-transparent: transparent;
  --btn-hover-transparent: #{variables.$gray-3};
  --btn-text-transparent: #{variables.$gray-8};

  --btn-bg-light-gray: #{variables.$gray-5};
  --btn-hover-light-gray: #{variables.$gray-4};
  --btn-text-light-gray: #{variables.$gray-2};

  --btn-bg-red: #{variables.$red-4};
  --btn-hover-red: #{variables.$red-5};

  --card-bg: #{variables.$gray-1};
  --card-hover: #{variables.$gray-2};

  --dark-bg: #{variables.$gray-9};
  --dark-hover: #{variables.$gray-7};

  --badge-green-bg: #{variables.$green-1};
  --badge-green-border: #{variables.$green-3};
  --badge-green-text: #{variables.$green-4};

  --badge-red-bg: #{variables.$red-1};
  --badge-red-border: #{variables.$red-3};
  --badge-red-text: #{variables.$red-4};
}
