@use '../../../../../../styles/mixins' as mix;
@use '../../../../../../styles/breakpoints' as *;

:host {
  @include mix.main-host;
}

stk-message-notification {
  position: absolute;
  top: 0;
  left: 50%;
}

.main {
  @include mix.main-layout;

  & h1 {
    max-width: 700px;
    width: 100%;
  }
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: relative;

  &__title {
    & h2 {
      font-size: 24px;
      font-weight: 600;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
