@mixin main-host {
  width: 100%;
  display: flex;
  justify-content: center;
}

@mixin main-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 700px;
}

@mixin error-text {
  bottom: -18px;
  left: 0rem;
  font-size: 14px;
  color: #f44336;
  font-weight: 500;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@mixin input {
  outline: none;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  min-height: 30px;
  padding-left: 10px;
  width: 100%;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
