@mixin main-host {
  width: 100%;
  display: flex;
  justify-content: center;
}

@mixin main-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 20px;
  width: 100%;
  height: 100%;
  max-width: 700px;
}

@mixin error-text {
  bottom: -18px;
  left: 0rem;
  font-size: 14px;
  color: #f44336;
  font-weight: 500;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@mixin input-group {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 5px;
}

@mixin input {
  outline: none;
  border: 1px solid var(--border-color);
  color: var(--text-color);
  background-color: var(--card-bg);
  border-radius: 5px;
  min-height: 30px;
  padding-left: 10px;
  width: 100%;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin backdrop {
  @include flex-center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(0px);
  transition:
    background-color 0.3s ease,
    backdrop-filter 0.3s ease;

  &.fade-in {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    z-index: 1000;
  }

  &.fade-out {
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(0px);
    z-index: -1;
  }
}

@mixin icon-size($size) {
  font-size: $size;
  width: $size;
  height: $size;
}

// BUTTON

@mixin btn {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  transition: background 0.2s;

  &:hover:not(:disabled) {
    background-color: var(--btn-hover);
  }

  &:active:not(:disabled) {
    transform: translateY(0);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  }

  &__content {
    opacity: 1;

    &.active {
      opacity: 0;
    }
  }

  &__loading {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &.active {
      display: block;
    }

    &-spinner {
      animation: rotate 2s linear infinite;
      width: 20px;
      height: 20px;
      vertical-align: middle;

      .path {
        stroke: #fff;
        stroke-linecap: round;
        animation: dash 1.5s ease-in-out infinite;
      }
    }
  }
}

@mixin btn-disabled {
  cursor: not-allowed;
  transform: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--btn-disabled);
  color: var(--btn-text);
}

@mixin btn-color($color) {
  @if $color == 'green' {
    background-color: var(--btn-bg);
    color: var(--btn-text);

    &:hover {
      background-color: var(--btn-hover);
    }
  }

  @if $color == 'gray' {
    background-color: var(--btn-bg-gray);
    color: var(--btn-text-gray);
    border: 1px solid transparent;

    &:hover {
      background-color: var(--btn-hover-gray);
      border: 1px solid var(--border-color);
    }
  }

  @if $color == 'red' {
    background-color: var(--btn-bg-red);
    color: var(--btn-text);

    &:hover {
      background-color: var(--btn-hover-red);
    }
  }

  @if $color == 'transparent' {
    background-color: transparent;
    border: 1px solid var(--border-color);
    color: var(--text-color);

    &:hover {
      background-color: var(--hover-color);
    }
  }
}

@mixin btn-size($size) {
  @if $size == 'sm' {
    padding: 10px 20px;
    font-size: 1rem;
  }

  @if $size == 'md' {
    padding: 20px 35px;
    font-size: 18px;
  }

  @if $size == 'lg' {
    padding: 25px 40px;
    font-size: 20px;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
