$black: #000000;
$white: #ffffff;

$gray-1: oklch(98.5% 0 0);
$gray-2: oklch(96.7% 0.001 286.375);
$gray-3: oklch(92% 0.004 286.32);
$gray-4: oklch(87.1% 0.006 286.286);
$gray-5: oklch(70.5% 0.015 286.067);
$gray-6: oklch(55.2% 0.016 285.938);
$gray-7: oklch(44.2% 0.017 285.786);
$gray-8: oklch(37% 0.013 285.805);
$gray-9: oklch(27.4% 0.006 286.033);
$gray-10: oklch(21% 0.006 285.885);
$gray-11: oklch(14.1% 0.005 285.823);

$green-1: oklch(76.5% 0.177 163.223);
$green-2: oklch(69.6% 0.17 162.48);
$green-3: oklch(43.2% 0.095 166.913);
