@use '../../../../../styles/mixins' as mix;

.option-container {
  @include mix.flex-center;
  justify-content: left;
  padding: 20px 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.2s;
  position: relative;

  &::before {
    content: '';
    height: 100%;
    width: 4px;
    background-color: var(--sidebar-hover);
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: -10px;
  }

  &.active::before {
    background-color: var(--primary-color-l);
  }

  &:hover,
  &.active {
    background-color: var(--sidebar-hover);
  }

  &.active p {
    font-weight: 500;
  }
}
