@use '../../../../styles/mixins' as mix;

:host {
  display: flex;
  justify-content: flex-start;
}

.back__container__btn {
  @include mix.flex-center;

  & mat-icon {
    @include mix.flex-center;
    @include mix.icon-size(18px);
  }

  & p {
    line-height: 0;
    font-size: 14px;
  }
}
