<div class="item" [class.first-item]="firstItem">
  <div class="item__info">
    <h2>{{ capitalize(name) }}</h2>
    <p>CNPJ: {{ formatTaxId(taxId) }}</p>
    <div>
      <p>Celular: {{ formatPhone(phone) }}</p>
      <p>E-mail: {{ email }}</p>
    </div>
  </div>
  @if (active) {
    <stk-button [model]="3" (click)="navigate(['suppliers', id])">
      <mat-icon>edit</mat-icon>
    </stk-button>
  }
  @if (!active) {
    <stk-button [model]="3" (click)="reactivateItem()">
      <mat-icon>check</mat-icon>
    </stk-button>
  }
</div>
