@use '../../../../../styles/breakpoints' as *;
@use '../../../../../styles/mixins' as mix;

:host {
  @include mix.main-host;
}

.main {
  @include mix.main-layout;

  &__title {
    width: 100%;
  }

  & section {
    width: 100%;
    flex: 1;
    position: relative;
  }
}
