<div class="main">
  <div class="main__title">
    <h1>Adicionar Venda</h1>
  </div>
  <stk-stepper [currentStep]="currentStep" [totalSteps]="totalSteps" />
  <section>
    <stk-card [padding]="2">
      <form [formGroup]="saleForm" (ngSubmit)="onAddNewSale()">
        @if (currentStep === 1) {
          <stk-search-customer-sale-step
            (isLoadingChange)="isLoadingChange()"
            [isLoading]="isLoading"
            [form]="saleForm"
            (nextStep)="nextStep()"
          />
        }
        @if (currentStep === 2) {
          <stk-add-items-sale-step
            [isLoading]="isLoading"
            [form]="saleItemForm"
            [formParent]="saleForm"
            (isLoadingChange)="isLoadingChange()"
            (back)="back()"
            (addItem)="addItem($event)"
            (removeItem)="removeItem($event)"
          />
        }
      </form>
    </stk-card>
  </section>
</div>
