@use '../../../../styles/mixins' as mix;

:host {
  width: 100%;
}

.search {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 5px;

  &__input {
    @include mix.input;
    padding: 10px 34px;
  }

  & stk-text-input {
    flex: 1;
  }

  &__icon {
    @include mix.flex-center;
    line-height: 0;
    color: var(--text-color);
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    cursor: text;
    z-index: 10;
  }
}

.autocomplete {
  position: absolute;
  background: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-height: 250px;
  overflow-y: auto;
  border-radius: 4px;
  z-index: 20;
  margin-top: 4px;
}

.autocomplete__item {
  padding: 10px 12px;
  cursor: pointer;
}

.autocomplete__item:hover {
  background: #f3f3f3;
}
