@use '../../../../styles/mixins' as mix;

:host {
  width: 100%;
}

.search {
  position: relative;
  width: 100%;

  &__input {
    @include mix.input;
    padding: 10px 34px;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    cursor: text;
  }
}
