@use '../../../../styles/mixins' as mix;

:host {
  width: 100%;
}

.search {
  position: relative;
  width: 100%;
  display: flex;
  gap: 5px;

  &__input {
    @include mix.input;
    padding: 10px 34px;
  }

  &__icon {
    @include mix.flex-center;
    line-height: 0;
    color: var(--text-color);
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    cursor: text;
  }
}
