@use '../../../../styles/mixins' as mix;

:host {
  width: 100%;
}

.search {
  position: relative;
  width: 100%;
  display: flex;
  gap: 5px;

  &__input {
    @include mix.input;
    padding: 10px 34px;
  }

  &__icon {
    @include mix.flex-center;
    line-height: 0;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    cursor: text;
  }

  &__button {
    padding: 10px 20px;
    background-color: var(--btn-bg-gray);
    color: var(--btn-text-gray);
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: var(--btn-bg-gray-hover);
      color: var(--btn-text-gray-hover);
    }
  }
}
