<div class="main">
  <div class="main__title">
    <h1>Clientes</h1>
    <p>Gerencie os clientes</p>
  </div>
  <stk-search-input placeholder="Digite o nome ou CNPJ" (searchChange)="onSearch($event)" />

  <stk-button [model]="1" (click)="navigate('/customers/add')"> Cadastrar cliente </stk-button>

  <section>
    <stk-card>
      @for (item of filteredCustomers; track item.id; let i = $index) {
        <stk-customer-item
          [id]="item.id"
          [name]="item.name"
          [taxId]="item.taxId"
          [phone]="item.phone"
          [email]="item.email"
          [index]="i"
        />
      }
      @if (filteredCustomers.length === 0) {
        <stk-itens-not-found text="Nenhum cliente encontrado" />
      }
    </stk-card>
  </section>
  <stk-pagination
    [totalItems]="totalItems"
    [pageSize]="pageSize"
    [currentPage]="currentPage"
    (pageChange)="changePage($event)"
    (pageSizeChange)="changePageSize($event)"
  />
</div>
