.message {
  position: absolute;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  color: white;
  padding: 1rem 2rem;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  animation: slideDown 0.3s ease-out;
  z-index: 2;
  text-wrap: nowrap;

  &__error {
    background-color: #f44336;
    box-shadow: 0 4px 16px rgba(244, 67, 54, 0.3);
  }

  &__success {
    background-color: var(--primary-color-m);
    box-shadow: 0 4px 16px rgba(54, 244, 124, 0.3);
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(0);
  }
  to {
    opacity: 1;
    transform: translateX(-50%) translateY(50%);
  }
}
