<div class="input-group">
  <label class="input-group__label" for="">{{ label }}</label>
  <input
    [type]="visible ? 'text' : 'password'"
    [id]="id"
    [formControl]="$any(control)"
    placeholder=" "
    class="input-group__input"
    [class.valid]="isValid"
    [class.invalid]="isInvalid"
  />
  <span class="input-group__see-password" (click)="toggleVisibility()">
    <mat-icon>{{ !visible ? 'visibility' : 'visibility_off' }}</mat-icon>
  </span>
  @if (currentError) {
    <div class="error-text">{{ currentError }}</div>
  }
</div>
