@use '../../../../styles/breakpoints' as *;
@use '../../../../styles/mixins' as mix;

.input-container {
  @include mix.input-container;

  &__label {
    font-size: 14px;
  }
}

.input-group {
  height: fit-content;
  position: relative;

  &__input {
    @include mix.input;

    &.valid {
      border-color: #4caf50;
    }

    &.invalid {
      border-color: #f44336;
    }
  }

  &__see-password {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--dark-bg);
    cursor: pointer;

    &:hover {
      color: var(--dark-hover);
    }

    & mat-icon {
      @include mix.flex-center;
      @include mix.icon-size(24px);
    }
  }
  &__label {
    @include respond('md') {
      font-size: 16px;
    }
  }
}

.error-text {
  @include mix.error-text;
}
