@use '../../../../styles/breakpoints' as *;
@use '../../../../styles/mixins' as mix;

.input-group {
  @include mix.input-group;

  &__label {
    font-size: 14px;
  }

  &__input {
    @include mix.input;

    &.valid {
      border-color: #4caf50;
    }

    &.invalid {
      border-color: #f44336;
    }
  }

  &__see-password {
    position: absolute;
    right: 5px;
    top: 28px;
    color: var(--dark-bg);
    cursor: pointer;

    &:hover {
      color: var(--dark-hover);
    }

    & mat-icon {
      font-size: 24px;
    }
  }
  &__label {
    @include respond('md') {
      font-size: 16px;
    }
  }
}

.error-text {
  @include mix.error-text;
}
