<div class="input-container">
  <label class="input-container__label" for="">{{ label }}</label>
  <div class="input-group">
    <input
      [type]="visible ? 'text' : 'password'"
      [id]="id"
      [formControl]="$any(control)"
      [placeholder]="placeholder"
      class="input-group__input"
      [class.valid]="isValid"
      [class.invalid]="isInvalid"
    />
    <span class="input-group__see-password" (click)="toggleVisibility()">
      <mat-icon>{{ !visible ? 'visibility' : 'visibility_off' }}</mat-icon>
    </span>
  </div>
  @if (currentError) {
    <div class="error-text">{{ currentError }}</div>
  }
</div>
