<div class="main">
  <div class="main__title">
    <h1>Estoque</h1>
    <p>Cadastro de produto</p>
  </div>
  @if (messageDisplayed.message.length > 0) {
    <stk-message-notification
      [message]="messageDisplayed.message"
      [status]="messageDisplayed.status"
    />
  }

  <stk-card [padding]="2">
    <form class="container" [formGroup]="createForm" (ngSubmit)="onCreateProduct()">
      <stk-back-button (click)="navigate('/inventory/products')" />
      <div class="container__title">
        <h2>Cadastrar produto</h2>
      </div>
      <stk-text-input
        type="text"
        id="name"
        label="Digite o nome *"
        [control]="createForm.get('name')"
        [errorMessages]="{
          required: 'Nome é obrigatório',
        }"
      />
      <stk-text-input
        type="text"
        id="description"
        label="Digite a descrição *"
        [control]="createForm.get('description')"
        [errorMessages]="{
          required: 'Descrição é obrigatória',
        }"
      />
      <stk-text-input
        type="number"
        id="costPrice"
        label="Digite o preço de custo *"
        [control]="createForm.get('costPrice')"
        [errorMessages]="{
          required: 'Preço de custo é obrigatório',
          priceInvalid: 'Preço de custo deve ser maior que zero',
        }"
      />
      <stk-text-input
        type="number"
        id="salePrice"
        label="Digite o preço de venda *"
        [control]="createForm.get('salePrice')"
        [errorMessages]="{
          required: 'Preço de venda é obrigatório',
          priceInvalid: 'Preço de venda deve ser maior que zero',
          pricesInvalid: 'Preço de venda deve ser maior que o preço de custo',
        }"
      />
      <div class="container__btns">
        <stk-button
          [loading]="isLoading"
          [disabled]="createForm.invalid"
          [model]="1"
          [type]="'submit'"
          [size]="0"
          >Cadastrar
        </stk-button>
      </div>
    </form>
  </stk-card>
</div>
