<div [class]="active ? 'backdrop active' : 'backdrop'" (click)="onToggleBar(false)"></div>
<nav [class]="active ? 'nav active' : 'nav'">
  <div [class]="active ? 'menuContainer active' : 'menuContainer'">
    <div class="menuContainer__header">
      <h1>stockmanagement</h1>
      <stk-sidebar-menu-option icon="menu" (action)="onToggleBar(!this.active)" />
    </div>
    <ul class="menuContainer__ul">
      @for (item of menuData; track item.name; let i = $index) {
        @if (item.name === 'Inicio') {
          <li
            [class]="
              index.itemIndex === i ? 'menuContainer__ul__li active' : 'menuContainer__ul__li'
            "
            (click)="onToggleItem(i)"
          >
            <stk-sidebar-menu-option
              [barActive]="active"
              [itemActive]="index.itemIndex === i"
              [icon]="item.icon"
              [text]="item.name"
            />
          </li>
        } @else {
          <li
            [class]="
              index.itemIndex === i ? 'menuContainer__ul__li active' : 'menuContainer__ul__li'
            "
            (click)="onToggleItem(i)"
          >
            <stk-sidebar-menu-option
              [icon]="item.icon"
              [text]="item.name"
              [barActive]="active"
              [itemActive]="index.itemIndex === i"
              arrow="arrow_back_ios_new"
            />
          </li>
        }
        @if (item.itens.length > 0 && index.itemIndex === i) {
          <ul class="menuContainer__ul__sub">
            @for (sub of item.itens; track sub.item; let ind = $index) {
              <li
                class="menuContainer__ul__sub__li"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="onToggleSubItem(ind)"
              >
                <stk-sidebar-menu-sub-option
                  [text]="sub.item"
                  [path]="sub.path"
                  [active]="index.itemIndex === i && index.subItemIndex === ind"
                  (close)="onToggleBar(false)"
                />
              </li>
            }
          </ul>
        }
      }
    </ul>
  </div>
  <div [class]="active ? 'bottom-sidebar active' : 'bottom-sidebar'">
    <stk-sidebar-menu-option
      icon="account_circle"
      [text]="user"
      arrow="keyboard_arrow_right"
      [barActive]="active"
      [itemActive]="index.itemIndex === -1"
      (action)="onToggleItem(-1)"
      type=""
    />
    <stk-sidebar-menu-option icon="logout" (action)="onLogout()" />
  </div>
</nav>
