@use '../../../../../styles/breakpoints' as *;

.backdrop {
  position: fixed;
  height: 100%;
  width: 100vw;
  top: 0;
  background-color: rgba($color: #000000, $alpha: 0.5);
  left: 100vw;
  z-index: 2;

  &.active {
    left: 0;
  }

  @include respond('md') {
    display: none;
  }
}

a {
  text-decoration: none;
}

.nav {
  height: 100vh;
  position: fixed;
  z-index: 2;
  left: -100%;
  background-color: var(--sidebar-bg);
  color: var(--sidebar-text);
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  padding: 15px;
  white-space: nowrap;

  &.active {
    left: 0;
  }

  @include respond('md') {
    left: 0;
    position: relative;
    width: 100%;
    max-width: 100px;
  }

  &.active {
    @include respond('md') {
      position: relative;
      width: 100%;
      max-width: 400px;
    }
  }
}

.menuContainer {
  width: 100%;
  flex: 1;

  &__header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;

    & h1 {
      font-size: 20px;
      text-transform: uppercase;
      flex: 1;
    }
  }

  &__ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 5px;

    &__li {
      align-items: center;
      cursor: pointer;
      transition: all 0.2s;
      color: var(--sidebar-text);
    }

    &__sub {
      list-style: none;
      padding: 0;
      margin: 0;
      padding-left: 2rem;
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }

  &__header {
    & h1 {
      @include respond('md') {
        display: none;
      }
    }

    @include respond('md') {
      justify-content: center;
    }
  }

  &.active .menuContainer__header {
    @include respond('md') {
      justify-content: space-between;
    }
  }

  &.active .menuContainer__header h1 {
    @include respond('md') {
      display: inline;
    }
  }

  &__ul__sub {
    @include respond('md') {
      display: none;
    }
  }

  &.active .menuContainer__ul__sub {
    @include respond('md') {
      display: flex;
    }
  }
}

.bottom-sidebar {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
