<stk-list-page-layout
  [autoCompleteService]="customerService"
  title="Vendas"
  subtitle="Histórico de vendas"
  [searchForm]="searchForm"
  searchPlaceholder="Digite o nome ou CPF/CNPJ"
  searchName="search"
  [hasAddButton]="false"
  [page]="currentPage"
  [pageSize]="pageSize"
  [totalItems]="totalItems"
  (searchChange)="onSearch($event)"
  (pageChange)="changePage($event)"
  (pageSizeChange)="changePageSize($event)"
>
  @if (isLoading) {
    @for (item of [1, 2, 3, 4, 5]; track item) {
      <stk-item-skeleton [index]="$index" />
    }
  } @else {
    @for (item of filteredSales; track $index; let i = $index) {
      <stk-transaction-item
        [id]="item.id"
        [date]="item.createdAt"
        [nameInfo]="{ type: 'Cliente', name: item.customer.name }"
        [value]="item.totalValue"
        [index]="i"
      />
    }
    @if (filteredSales.length === 0) {
      <stk-itens-not-found text="Nenhuma venda encontrado" />
    }
  }
</stk-list-page-layout>
