<div class="main">
  <div class="main__title">
    <h1>Vendas</h1>
    <p>Histórico de vendas</p>
  </div>

  <stk-search-input
    (searchChange)="onSearch($event)"
    placeholder="Pesquisar por vendedor ou cliente"
  />

  <stk-card>
    @for (item of filteredSales; track $index; let i = $index) {
      <stk-transaction-item
        [date]="item.createdAt"
        [nameInfo]="{ type: 'Cliente', name: item.customer.name }"
        [value]="item.totalValue"
        [itens]="{ qt: filteredSales.length, index: i }"
      />
    }
    @if (filteredSales.length === 0) {
      <stk-itens-not-found text="Nenhuma venda encontrado" />
    }
  </stk-card>
</div>
