<div class="register_page">
  <div class="register_page__container">
    <div class="register_page__container__back">
      <stk-button-back path="/login" />
    </div>
    <h2>Crie uma nova conta</h2>
    <form
      class="register_page__container__form"
      [formGroup]="newUserForm"
      (ngSubmit)="registerHandle()"
    >
      @if (messageDisplayed.message.length > 0) {
        <stk-message-notification
          [message]="messageDisplayed.message"
          [status]="messageDisplayed.status"
        />
      }
      <div class="register_page__container__form__input-group">
        <label for="firstName">Nome *</label>
        <input
          type="text"
          id="firstName"
          formControlName="firstName"
          placeholder=" "
          [class.error]="
            newUserForm.get('firstName')?.invalid && newUserForm.get('firstName')?.touched
          "
        />
        @if (newUserForm.get('firstName')?.invalid && newUserForm.get('firstName')?.touched) {
          <span class="error-text">
            @if (newUserForm.get('firstName')?.errors?.['required']) {
              Nome é obrigatório
            } @else if (newUserForm.get('firstName')?.errors?.['minlength']) {
              Nome deve ter pelo menos 2 caracteres
            }
          </span>
        }
      </div>

      <div class="register_page__container__form__input-group">
        <label for="lastName">Sobrenome *</label>
        <input
          type="text"
          id="lastName"
          formControlName="lastName"
          placeholder=" "
          [class.error]="
            newUserForm.get('lastName')?.invalid && newUserForm.get('lastName')?.touched
          "
        />
        @if (newUserForm.get('lastName')?.invalid && newUserForm.get('lastName')?.touched) {
          <span class="error-text">
            @if (newUserForm.get('lastName')?.errors?.['required']) {
              Sobrenome é obrigatório
            } @else if (newUserForm.get('lastName')?.errors?.['minlength']) {
              Sobrenome deve ter pelo menos 2 caracteres
            }
          </span>
        }
      </div>
      <div class="register_page__container__form__input-group">
        <label for="email">E-mail *</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          placeholder=" "
          [class.error]="newUserForm.get('email')?.invalid && newUserForm.get('email')?.touched"
        />
        @if (newUserForm.get('email')?.invalid && newUserForm.get('email')?.touched) {
          <span class="error-text">
            @if (newUserForm.get('email')?.errors?.['required']) {
              E-mail é obrigatório
            } @else if (newUserForm.get('email')?.errors?.['email']) {
              E-mail inválido
            }
          </span>
        }
      </div>
      <div class="register_page__container__form__input-group">
        <label for="password">Digite a sua senha *</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          placeholder=" "
          [class.error]="newUserForm.get('password')?.invalid && newUserForm.get('password')?.dirty"
        />
        @if (newUserForm.get('password')?.invalid && newUserForm.get('password')?.dirty) {
          <span class="error-text">
            @if (newUserForm.get('password')?.errors?.['required']) {
              A senha é obrigatória
            } @else if (newUserForm.get('password')?.errors?.['minlength']) {
              A senha deve ter pelo menos 8 caracteres
            }
          </span>
        }
      </div>
      <div class="register_page__container__form__input-group">
        <label for="confirmPassword">Digite novamente a sua senha *</label>
        <input
          type="password"
          id="confirmPassword"
          formControlName="confirmPassword"
          placeholder=" "
          [class.error]="
            newUserForm.get('confirmPassword')?.invalid && newUserForm.get('confirmPassword')?.dirty
          "
        />
        @if (
          newUserForm.errors?.['passwordsNotMatching'] && newUserForm.get('confirmPassword')?.dirty
        ) {
          <span class="error-text"> As senhas não coincidem </span>
        }
      </div>
      <app-button
        class="register_page__container__form__btn"
        [disabled]="newUserForm.invalid || isLoading"
        type="submit"
        [loading]="isLoading"
        >Cadastrar</app-button
      >
    </form>
  </div>
</div>
