@use '../../../../styles/breakpoints' as *;
@use '../../../../styles/mixins' as mix;

stk-message-notification {
  position: absolute;
  top: 0;
  left: 50%;
}

.register_page {
  @include mix.flex-center;
  width: 100%;
  height: 100vh;

  &__container {
    @include mix.main-layout;
    align-items: flex-start;

    &__form {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 100%;
      gap: 5px;

      & label {
        font-size: 14px;
      }

      & input {
        @include mix.input;
      }

      &__btn {
        margin-top: 5px;
        @include mix.flex-center;
      }
    }

    @include respond('md') {
      max-width: 400px;
    }
  }
}

.error-text {
  @include mix.error-text;
}
