@use '../../../../styles/breakpoints' as *;

stk-message-notification {
  position: absolute;
  top: 0;
  left: 50%;
}

.register_page {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;

  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    gap: 10px;

    &__back {
      display: flex;
      align-items: center;
      justify-content: left;
    }

    &__form {
      display: flex;
      flex-direction: column;
      position: relative;
      gap: 10px;

      & label {
        font-size: 14px;
      }

      & input {
        background-color: var(--bg-color);
        outline: none;
        border: 1px solid var(--border-color);
        border-radius: 5px;
        height: 30px;
        padding-left: 10px;
        max-width: 400px;
        width: 100%;
      }

      &__input-group {
        display: flex;
        position: relative;
        flex-direction: column;
        position: relative;
        gap: 5px;
      }

      &__btn {
        margin-top: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.error-text {
  bottom: -18px;
  left: 0rem;
  font-size: 14px;
  padding-bottom: 10px;
  color: #f44336;
  font-weight: 500;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.register_page {
  &__container {
    @include respond('md') {
      max-width: 700px;
    }
  }
}
