@if (shouldRender) {
  <button type="button" [class]="containerClasses" (click)="handleClick()">
    @if (icon) {
      <mat-icon class="option-container__icon" [fontSet]="iconFontSet">{{ icon }}</mat-icon>
    }

    @if (text) {
      <span class="option-container__text">{{ text }}</span>
    }

    @if (arrow) {
      <mat-icon
        class="option-container__arrow"
        [class.arrow-rotate]="itemActive"
        [fontSet]="iconFontSet"
      >
        {{ arrow }}
      </mat-icon>
    }
  </button>
}
