<div class="main">
  <div class="main__title">
    <h1>Estoque</h1>
    <p>Movimentação do estoque</p>
  </div>

  <stk-filter-component
    [searchProductForm]="searchProductForm"
    [isLoading]="isLoading"
    (onSearchSubmit)="onSearchSubmit()"
  />

  @if (inventoryMovements.length > 0) {
    <stk-card>
      <div class="inventory-movement__product">
        <div class="inventory-movement__product__header">
          <div class="inventory-movement__product__header__icon">
            <mat-icon fontSet="material-symbols-outlined">package_2</mat-icon>
          </div>
          <div class="inventory-movement__product__header__content">
            <h2>{{ formatCapitalize(inventoryMovements[0].product.name) }}</h2>
            <p>{{ formatCapitalize(inventoryMovements[0].product.description) }}</p>
          </div>
        </div>
        <div class="inventory-movement__product__footer">
          <div class="inventory-movement__product__footer__cost">
            <h3>Custo</h3>
            <p>R${{ formatCurrence(inventoryMovements[0].product.costPrice) }}</p>
          </div>
          <div class="inventory-movement__product__footer__sale">
            <h3>Venda</h3>
            <p>R${{ formatCurrence(inventoryMovements[0].product.salePrice) }}</p>
          </div>
        </div>
      </div>
    </stk-card>
    <stk-card>
      <table class="inventory-movement__table">
        <thead>
          <tr>
            <th>Data</th>
            <th>Tipo</th>
            <th>Saldo anterior</th>
            <th>Movimento</th>
            <th>Saldo posterior</th>
          </tr>
        </thead>
        <tbody>
          @for (movement of inventoryMovements; track movement.id) {
            <tr>
              <td>
                <p>{{ formatDate(movement.createdAt) }}</p>
                <p>{{ formatHour(movement.createdAt) }}</p>
              </td>
              <td>{{ movement.type }}</td>
              <td>{{ movement.previousBalance }}</td>
              <td>
                {{ movement.type === 'ENTRADA' ? '+' : '-' }}
                {{ currentMovementValue(movement.previousBalance, movement.balance) }}
              </td>
              <td>{{ movement.balance }}</td>
            </tr>
          }
        </tbody>
      </table>
    </stk-card>
  }
</div>
