@use '../../../../styles/mixins' as mix;

:host {
  @include mix.main-host;
}

.main {
  @include mix.main-layout;
  &__title {
    width: 100%;
  }

  &__form {
    width: 100%;

    &__period {
      margin-top: 25px;
      display: flex;
      align-items: end;
      gap: 20px;
      width: 100%;

      &-start {
        display: flex;
        flex-direction: column;
        gap: 5px;

        &__selects {
          display: flex;
          gap: 5px;
        }
      }
      &-end {
        display: flex;
        flex-direction: column;
        gap: 5px;
        flex: 1;

        &__selects {
          display: flex;
          gap: 5px;
        }
      }
    }
  }

  & section {
    width: 100%;
    flex: 1;
    position: relative;
  }
}
