@use '../../../../styles/mixins' as mix;
@use '../../../../styles/breakpoints' as *;

:host {
  @include mix.main-host;
}

.main {
  @include mix.main-layout;
  &__title {
    width: 100%;
  }

  & section {
    width: 100%;
    flex: 1;
    position: relative;
  }
}

stk-card {
  margin-top: 20px;
}

.inventory-movement__product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  gap: 50px;
  padding: 20px;

  @include respond('md') {
    flex-direction: row;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 1rem;

    &__icon {
      @include mix.flex-center;
      width: 50px;
      height: 50px;
      color: var(--primary-color-l);

      & mat-icon {
        @include mix.icon-size(36px);
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: left;
      gap: 0.5rem;

      & h2 {
        font-size: 24px;
      }

      & p {
        color: var(--text-color-l);
      }
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    gap: 4rem;
    justify-content: center;

    @include respond('md') {
      justify-content: flex-end;
      gap: 1rem;
    }

    &__cost {
      & h3 {
        color: var(--text-color-l);
        font-weight: 400;
      }

      & p {
        font-weight: bold;
      }
    }
    &__sale {
      & h3 {
        color: var(--text-color-l);
        font-weight: 400;
      }

      & p {
        font-weight: bold;
        color: var(--primary-color-m);
      }
    }
  }
}
