<main class="main">
  <div class="main__title">
    <h1>Vendas</h1>
    <p>Detalhes da venda</p>
  </div>

  <stk-back-button (click)="navigate('/sales/history')" />

  <div class="main__purchase-info">
    <p>
      Cliente: <strong>{{ capitalize(sale?.customer?.name ?? '') }}</strong>
    </p>
    <p>
      Data: <strong>{{ formatDate(sale?.createdAt ?? '') }}</strong>
    </p>
    <p>
      Valor total: <strong>R${{ formatValue(sale?.totalValue ?? 0) }}</strong>
    </p>
    <p>
      Itens: <strong>{{ sale?.itens?.length }}</strong>
    </p>
  </div>
  <div class="main__purchase-items">
    <stk-card>
      @for (item of sale?.itens; track $index) {
        <div class="main__purchase-items__item">
          <p>
            Produto: <strong>{{ capitalize(item.name) }}</strong>
          </p>
          <p>
            Quantidade: <strong>{{ item.quantity }}</strong>
          </p>
          <p>
            Preço unitário: <strong>R${{ formatValue(item.unitPrice) }}</strong>
          </p>
          <p>
            Valor total do item:
            <strong>R${{ formatValue(item.quantity * item.unitPrice) }}</strong>
          </p>
        </div>
      }
    </stk-card>
  </div>
</main>
