@use '../../../../../../styles/mixins' as mix;

:host {
  @include mix.main-host;
  height: 100%;
}

.main {
  @include mix.main-layout;
  align-items: start;
  &__title {
    width: 100%;
  }

  &__purchase-info {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__purchase-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__item {
      padding: 1rem;
      display: flex;
      flex-direction: column;

      &:not(:last-child) {
        border-bottom: 1px solid var(--border-color);
      }
    }
  }
}
