@use '../../../../styles/mixins' as mix;

.container {
  @include mix.flex-center;
  width: 100%;
  gap: 10px;
  flex-direction: column;
  padding: 100px;

  &__icon mat-icon {
    @include mix.flex-center;
    @include mix.icon-size(64px);
  }

  &__text {
    text-wrap: nowrap;
  }
}
