.container {
  width: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px;

  &__icon mat-icon {
    font-size: 64px;
    width: 64px;
    height: 64px;
  }

  &__text {
    text-wrap: nowrap;
  }
}
