<main class="main">
  <div class="main__title">
    <h1>Compras</h1>
    <p>Histórico de compras</p>
  </div>

  <stk-search-input
    (searchChange)="onSearch($event)"
    placeholder="Pesquisar por comprador ou fornecedor"
  />

  <stk-card>
    @for (item of filteredPurchases; track $index; let i = $index) {
      <stk-transaction-item
        [date]="item.createdAt"
        [nameInfo]="{ type: 'Fornecedor', name: item.supplier.name }"
        [value]="item.totalValue"
        [itens]="{ qt: filteredPurchases.length, index: i }"
      />
    }
    @if (filteredPurchases.length === 0) {
      <stk-itens-not-found text="Nenhuma compra encontrado" />
    }
  </stk-card>
</main>
