<main class="main">
  <div class="main__title">
    <h1>Compras</h1>
    <p>Histórico de compras</p>
  </div>

  <stk-search-input (searchChange)="onSearch($event)" placeholder="Pesquisar por fornecedor" />

  <stk-button [model]="1" (click)="navigate('/purchases/add')">Adicionar compra</stk-button>

  <section>
    <stk-card>
      @for (item of filteredPurchases; track $index; let i = $index) {
        <stk-transaction-item
          [id]="item.id"
          [date]="item.createdAt"
          [nameInfo]="{ type: 'Fornecedor', name: item.supplier.name }"
          [value]="item.totalValue"
          [index]="i"
        />
      }
      @if (filteredPurchases.length === 0) {
        <stk-itens-not-found text="Nenhuma compra encontrado" />
      }
    </stk-card>
  </section>
  <stk-pagination
    [totalItems]="totalItems"
    [pageSize]="pageSize"
    [currentPage]="currentPage"
    (pageChange)="changePage($event)"
    (pageSizeChange)="changePageSize($event)"
  />
</main>
