@use '../../../../styles/breakpoints' as *;
@use '../../../../styles/mixins' as mix;
:host {
  @include mix.main-host;
}
.main {
  @include mix.main-layout;

  & h1 {
    max-width: 700px;
    width: 100%;
  }
}
