@use '../../../../styles/breakpoints' as *;

:host {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.main {
  padding: 60px 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 700px;

  &__title {
    width: 100%;
  }

  @include respond('md') {
    padding: 40px;
  }
}
