<div class="main">
  <div class="main__title">
    <h1>Estoque</h1>
    <p>Produtos cadastrados</p>
  </div>
  <stk-search-input
    (searchChange)="onSearch($event)"
    placeholder="Pesquisar por nome ou descrição"
  />
  <section>
    <stk-card>
      @for (item of filteredProducts; track item.id; let i = $index) {
        <stk-product-item
          [name]="item.name"
          [description]="item.description"
          [costPrice]="item.costPrice"
          [salePrice]="item.salePrice"
          [createdAt]="item.createdAt"
          [saldo]="item.inventoryBalance"
          [index]="i"
        />
      }
      @if (filteredProducts.length === 0) {
        <stk-itens-not-found text="Nenhum produto encontrado" />
      }
    </stk-card>
  </section>
  <stk-pagination
    [totalItems]="55"
    [pageSize]="10"
    [currentPage]="currentPage"
    (pageChange)="changePage($event)"
  />
</div>
