@use '../../../../styles/mixins' as mix;
@use '../../../../styles/breakpoints' as *;

:host {
  @include mix.main-host;
}

.tab-content {
  display: flex;
  flex-direction: column;
}

.skeleton-item {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--border-color);
  animation: shimmer 1.5s infinite linear;
  background: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
  background-size: 1000px 100%;

  &__info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;

    & div {
      display: flex;
      flex-direction: column;
      gap: 5px;

      & .skeleton-text {
        height: 16px;
        background-color: #e0e0e0;
        border-radius: 4px;
        margin-bottom: 5px;
      }

      & .skeleton-title {
        width: 60%;
        height: 24px;
      }

      & .skeleton-desc {
        width: 80%;
      }

      & .skeleton-price {
        width: 40%;
      }
    }
  }

  &.first-item {
    border-top: none;
  }
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}
