<stk-list-page-layout
  [autoCompleteService]="productService"
  title="Estoque"
  subtitle="Produtos cadastrados"
  [searchForm]="searchForm"
  searchPlaceholder="Pesquisar por nome do produto"
  searchName="search"
  navigatePathToAdd="/inventory/products/add"
  addButtonText="Cadastrar produto"
  [page]="currentPage"
  [pageSize]="pageSize"
  [totalItems]="totalItems"
  (searchChange)="onSearch($event)"
  (pageChange)="changePage($event)"
  (pageSizeChange)="changePageSize($event)"
>
  @for (item of filteredProducts; track item.id; let i = $index) {
    <stk-product-item
      [id]="item.id"
      [name]="item.name"
      [description]="item.description"
      [costPrice]="item.costPrice"
      [salePrice]="item.salePrice"
      [createdAt]="item.createdAt"
      [saldo]="item.inventoryBalance"
      [index]="i"
    />
  }
  @if (filteredProducts.length === 0) {
    <stk-itens-not-found text="Nenhum produto encontrado" />
  }
</stk-list-page-layout>
