@if (shouldRender) {
  <div
    class="modal__overlay"
    [class.fade-in]="isAnimating"
    [class.fade-out]="!isAnimating"
    (click)="onOverlayClick($event)"
  >
    <div
      class="modal__content"
      [class.slide-in]="isAnimating"
      [class.slide-out]="!isAnimating"
      (click)="$event.stopPropagation()"
    >
      <div class="modal__header">
        <h2>{{ title }}</h2>
        <stk-button class="modal__header__close-btn" [model]="3" [size]="3" (click)="onCancel()">
          <mat-icon>close</mat-icon>
        </stk-button>
      </div>

      <div class="modal__body">
        <p>{{ message }}</p>
      </div>

      <div class="modal__footer">
        <stk-button [model]="3" (click)="onCancel()">
          {{ cancelText }}
        </stk-button>
        <stk-button (click)="onConfirm()">
          {{ confirmText }}
        </stk-button>
      </div>
    </div>
  </div>
}
