<div class="main">
  <div class="main__title">
    <h1>Fornecedores</h1>
  </div>
  <stk-search-input placeholder="Digite o nome ou CNPJ" (searchChange)="onSearch($event)" />

  <stk-button [model]="1" (click)="navigate('/suppliers/add')"> Cadastrar fornecedor </stk-button>

  <section>
    <stk-card>
      @for (item of filteredSuppliers; track item.id; let i = $index) {
        <stk-supplier-item
          [id]="item.id"
          [name]="item.name"
          [taxId]="item.taxId"
          [phone]="item.phone"
          [email]="item.email"
          [index]="i"
        />
      }
      @if (filteredSuppliers.length === 0) {
        <stk-itens-not-found text="Nenhum fornecedor encontrado" />
      }
    </stk-card>
  </section>
  <stk-pagination
    [totalItems]="totalItems"
    [pageSize]="pageSize"
    [currentPage]="currentPage"
    (pageChange)="changePage($event)"
    (pageSizeChange)="changePageSize($event)"
  />
</div>
