:host {
  display: block;
  width: 100%;
  height: 100%;
}

.menuContainer {
  background-color: var(--card-bg);
  border-radius: 10px;
  width: 100%;
  margin-top: 20px;

  &__item {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
    font-size: 14px;
    transition: background 0.1s;
    cursor: pointer;

    & p {
      flex: 1;
    }

    &__arrow {
      display: flex;
      align-items: center;
      justify-content: center;
      transform: rotate(180deg);
    }

    &:hover {
      background-color: var(--card-hover);
    }
  }

  & div:not(:last-child) {
    border-bottom: 1px solid var(--border-color);
  }
}
