@use '../../../styles/breakpoints' as *;
@use '../../../styles/mixins' as mix;
:host {
  @include mix.main-host;
}

.main {
  @include mix.main-layout;

  & h1 {
    max-width: 700px;
    width: 100%;
  }
}

.menuContainer {
  width: 100%;
  max-width: 700px;

  &__item {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
    font-size: 14px;
    transition: background 0.1s;
    cursor: pointer;

    & p {
      flex: 1;
    }

    &__arrow {
      display: flex;
      align-items: center;
      justify-content: center;
      transform: rotate(180deg);
    }

    &:hover {
      background-color: var(--card-hover);
    }
  }

  & div:not(:last-child) {
    border-bottom: 1px solid var(--border-color);
  }
}
