<div class="item" [class.first-item]="firstItem">
  <div class="item__info">
    <div>
      <h2>{{ capitalize(name) }}</h2>
      <p>{{ capitalize(description) }}</p>
    </div>
    <div>
      <p>
        Preço de custo: <strong>R${{ formatValue(costPrice) }}</strong>
      </p>
      <p>
        Preço de venda: <strong>R${{ formatValue(salePrice) }}</strong>
      </p>
      <p>
        Saldo no estoque: <strong>{{ saldo }}</strong>
      </p>
    </div>
  </div>
  <stk-button [model]="3" (click)="navigate(['inventory', 'products', id])">
    <mat-icon>edit</mat-icon>
  </stk-button>
</div>
