@use '../../../../styles/breakpoints' as *;

:host {
  display: block;
  width: 100%;
  height: 100%;
}

stk-message-notification {
  position: absolute;
  top: 0;
  left: 50%;
}

.main {
  padding: 60px 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  & h1 {
    max-width: 700px;
    width: 100%;
  }

  @include respond('md') {
    padding: 40px;
  }
}

.container {
  background-color: var(--card-bg);
  border-radius: 10px;
  max-width: 700px;
  width: 100%;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: relative;

  &__back {
    display: flex;
    align-items: center;
    justify-content: left;
  }

  &__title {
    & h2 {
      font-size: 24px;
      font-weight: 600;
    }

    & p {
      font-size: 14px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    & label {
      font-size: 14px;
    }
  }
}
