:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;

  & h1 {
    max-width: 700px;
    width: 100%;
  }
}
.message {
  position: absolute;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: white;
  padding: 1rem 2rem;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  animation: slideDown 0.3s ease-out;
  z-index: 2;
  text-wrap: nowrap;

  &__error {
    background-color: #f44336;
    box-shadow: 0 4px 16px rgba(244, 67, 54, 0.3);
  }

  &__success {
    background-color: var(--primary-color-m);
    box-shadow: 0 4px 16px rgba(54, 244, 124, 0.3);
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(-80%);
  }
  to {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%);
  }
}

.container {
  background-color: var(--card-bg);
  border-radius: 10px;
  max-width: 700px;
  max-width: 700px;
  width: 100%;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: relative;

  &__back {
    display: flex;
    align-items: center;
    justify-content: left;

    &__btn {
      display: flex;
      gap: 10px;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      padding: 5px 0;

      & mat-icon {
        height: 15px;
        width: 15px;
        line-height: 15px;
        font-size: 15px;
      }

      & p {
        font-weight: 500;
      }

      &:hover > p {
        text-decoration: underline;
      }
    }
  }

  &__title {
    & h2 {
      font-size: 18px;
      font-weight: 600;
    }

    & p {
      font-size: 14px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    & label {
      font-size: 14px;
    }

    & input {
      background-color: var(--bg-color);
      outline: none;
      border: 1px solid var(--border-color);
      border-radius: 5px;
      height: 30px;
      padding-left: 10px;
      width: 100%;
    }

    &__input-group {
      display: flex;
      position: relative;
      flex-direction: column;
      position: relative;
      gap: 5px;

      &__see-password {
        position: absolute;
        right: 5px;
        top: 26px;
        color: var(--dark-bg);
        cursor: pointer;

        &:hover {
          color: var(--dark-hover);
        }

        & mat-icon {
          font-size: 24px;
        }
      }
    }
  }
}

.error-text {
  bottom: -18px;
  left: 0rem;
  font-size: 14px;
  color: #f44336;
  font-weight: 500;
  animation: fadeIn 0.3s ease-in-out;
}
