<h1>Perfil</h1>

<div class="container">
  @if (messageDisplayed.message.length > 0) {
    <stk-message-notification
      [message]="messageDisplayed.message"
      [status]="messageDisplayed.status"
    />
  }
  <div class="container__back">
    <stk-button-back path="/profile" />
  </div>
  <div class="container__title">
    <h2>Alterar senha</h2>
    <p>Crie uma senha nova com pelo menos 8 caracteres.</p>
  </div>
  <form class="container__form">
    <div class="container__form__input-group">
      <label for="">Digite a sua senha atual *</label>
      <input
        [type]="currentPassword.visible ? 'text' : 'password'"
        [(ngModel)]="currentPassword.data"
        name="current"
        (ngModelChange)="validatePassword(currentPassword)"
        placeholder=" "
        [class.valid]="currentPassword.isValid && currentPassword.data.length > 0"
        [class.invalid]="!currentPassword.isValid"
      />
      <span class="container__form__input-group__see-password" (click)="turnInputVisible(0)">
        @if (currentPassword.visible === false) {
          <mat-icon>visibility</mat-icon>
        } @else {
          <mat-icon>visibility_off</mat-icon>
        }
      </span>
      @if (!currentPassword.isValid && currentPassword.data.length > 0) {
        <div class="error-text">Senha inválida</div>
      }
    </div>
    <div class="container__form__input-group">
      <label for="">Digite sua senha nova *</label>
      <input
        [type]="newPassword.visible ? 'text' : 'password'"
        [(ngModel)]="newPassword.data"
        name="firstNewPassword"
        (ngModelChange)="validatePassword(newPassword)"
        placeholder=" "
        [class.valid]="newPassword.isValid && newPassword.data.length > 0"
        [class.invalid]="!newPassword.isValid"
      />
      <span class="container__form__input-group__see-password" (click)="turnInputVisible(1)">
        @if (newPassword.visible === false) {
          <mat-icon>visibility</mat-icon>
        } @else {
          <mat-icon>visibility_off</mat-icon>
        }
      </span>
      @if (!newPassword.isValid && newPassword.data.length > 0) {
        <div class="error-text">Senha inválida</div>
      }
    </div>
    <div class="container__form__input-group">
      <label for="">Redigite sua senha nova *</label>
      <input
        [type]="confirmPassword.visible ? 'text' : 'password'"
        [(ngModel)]="confirmPassword.data"
        name="confirmPassword"
        (ngModelChange)="validatePassword(confirmPassword)"
        placeholder=" "
        [class.valid]="confirmPassword.isValid && confirmPassword.data.length > 0"
        [class.invalid]="!confirmPassword.isValid"
      />
      <span class="container__form__input-group__see-password" (click)="turnInputVisible(2)">
        @if (confirmPassword.visible === false) {
          <mat-icon>visibility</mat-icon>
        } @else {
          <mat-icon>visibility_off</mat-icon>
        }
      </span>
      @if (!confirmPassword.isValid && confirmPassword.data.length > 0) {
        <div class="error-text">{{ confirmPassword.errorMessage }}</div>
      }
    </div>
  </form>
  <app-button
    [disabled]="!currentPassword.isValid || !newPassword.isValid || !confirmPassword.isValid"
    [type]="'submit'"
    (click)="onChangePassword()"
    [loading]="isLoading"
    >Alterar</app-button
  >
</div>
