<div class="item" [class.first-item]="firstItem">
  <div class="item__info">
    <h2>{{ capitalize(name) }}</h2>
    <p>
      {{ taxId.length === 14 ? 'CNPJ: ' : 'CPF: ' }}
      <strong>{{ formatTaxId(taxId) }}</strong>
    </p>
    <div>
      <p>
        Celular: <strong>{{ formatPhone(phone) }}</strong>
      </p>
      <p>
        E-mail: <strong>{{ email }}</strong>
      </p>
    </div>
  </div>
  @if (active) {
    <stk-button [model]="3" (click)="navigate(['customers', id])">
      <mat-icon>edit</mat-icon>
    </stk-button>
  }
  @if (!active) {
    <stk-button [model]="3" (click)="reactivateItem()">
      <mat-icon>check</mat-icon>
    </stk-button>
  }
</div>
